.chat__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat__search {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input#chat__search--input {
    width:60%;
    height: 50px;
    font-size:20px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
    margin-right: 5px;
}

.chat__search--btn {
    all: unset;
    cursor: pointer;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-bottom: 10px;
    &:hover {
        transform: scale(2);
    }
}

.chat__room--list {
    margin-top: auto;
    background-color: #ffe3e3;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.chat__room {
    cursor: pointer;
    margin-top: 5px;
    background-color: #ffbcbc;
    padding: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    border: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.chat__empty {
    width: 20px;
}

.chat__room--profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #D9D9D9D9;
    margin-right: 15px;
}

.chat__room--contents {
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat__room--name {
    font-size: 24px;
    font-weight: 500;
}

.chat__room--msg {
    font-size: 18px;
}

.chat__room--time {
    margin-top: 7px;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    align-self: flex-start;
    margin-left: auto;
    margin-right: 10px;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9546FC80;
    height: 72px;
    padding: 0 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.chat__header--profile {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}

.chat__header--avator {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #D9D9D9D9;
    margin-right: 15px;
}

.chat__header--btn {
    width: 111px;
    height: 43px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    color: #351361B2;
}

.chat__header--btn:not(:last-child) {
    margin-right: 5px;
}

.chat__body {
    min-height: 0;
    flex-grow: 1;
    background-color: #FFFFFF4D;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 10px;
}

.chatbox {
    display: flex;
    align-items: center;
    min-height: 59px;
}

.chatbox.message_me {
    justify-content: flex-end;
}

.chatbox:not(:last-child) {
    margin-bottom: 10px;
}

.chatbox__message {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    min-width: 300px;
    font-size: 28px;
    max-width: 60%;
}

.chatbox.message_you .chatbox__message {
    background-color: #351361;
    color: white;
}

.chatbox.message_you .chatbox__message:after {
    content: url(../assets/bubbletale.svg);
    position: absolute;
    width: 25px;
    bottom: 0px;
    left: -13px;
    filter: invert(10%) sepia(78%) saturate(2449%) hue-rotate(255deg) brightness(92%) contrast(104%);
}

.chatbox.message_me .chatbox__message {
    background-color: #FFF385;
    color: #3B005FB0;
    order: 1;
}

.chatbox.message_me .chatbox__message:after {
    content: url(../assets/bubbletale.svg);
    position: absolute;
    width: 25px;
    bottom: 0px;
    right: -10px;
    filter: invert(91%) sepia(42%) saturate(2096%) hue-rotate(307deg) brightness(121%) contrast(110%);
    transform: rotateY(180deg);
}

.chatbox__info {
    align-self: flex-end;
    margin: 0 5px;
    margin-bottom: 10px;
}

.chat__body--frame {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 20px;
}

.chat__body--controller {
    display: flex;
    height: 120px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    border-radius: 10px;
    margin-top: 10px;
}

.chat__controller--text {
    flex-grow: 1;
    padding: 10px;
}

.chat__controller--text textarea {
    width: 100%;
    height: 100%;
    font-size: 18px;
    resize: none;
    outline: none;
    border: none;
}

.chat__controller--text textarea::placeholder {
    color: #0000004D;
}

.chat__controller--btn {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chat__controller--btn button {
    width: 110px;
    background-color: #351361;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
}