.rankers_box {
    margin-top: auto;
    background-color: #ffe3e3;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.ranker_box {
    margin-top: 5px;
    background-color: #ffbcbc;
    padding: 10px;
    width: 100%;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.rank_number {
    font-size: 22px;
    margin-right: 33px;
}

.rank_info {
    display: flex;
    align-items: center;
}

.match_history {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.history {
    font-size: 20px;
    margin-left: 10px;
}

.ranker {
    cursor: pointer; /* 클릭 시 유저 정보 확인 가능하게 ! */
    width: 90px;
    height: 90px;
    font-size: 22px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}