:root {
    --main-color: #AE6FFF;
    --sub-color: #351361;
    --font-color: #966FC9;
    --point-color: #FFF38580;
    --min-width-size: 1500px;
    --min-height-size: 1000px;
    --main-font: 'Poetsen One', sans-serif;
}